<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amedas</title>
</head>
<body>
<input id="index_nbr">
<input id="from_ym">
<input id="to_ym">

<label for="from_ym">FROM年月</label>

<input type="month" id="from_ym" name="from_ym" required minlength="4" maxlength="8" size="10" />


<label for="to_ym">TO年月</label>

<input type="month" id="to_ym" name="to_ym" required minlength="4" maxlength="8" size="10" />



</body>
</html>
