<!DOCTYPE html>
<html lang="ja">

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
    <title>気象データ取得 (AmedasAPI)</title>

</head>

<body>
    <header>
        <a href="mailto:game150@live.jp" target="_blank">
            <img src="/static/images/title.png" alt="タイトルです">
        </a>
        <h1>
            <div>{{ jikan }}</div>
            <div>
                気象庁データ(アメダスAPI)から選択した地域の平均気温が出せます
            </div>
        </h1>
    </header>


    {# <!-- <a href="{{url_for('menu', )}}">メニューページ</a> --> #}
    <main>
        <form id="my_form" method="get">
            <!-- get データをもらうだけ post データを渡す、サーバに送りたい時  -->
            <label for="index_selectr">国際地点番号選択:</label>
            <select name="index_select" id="index_select">
                <!-- JS上でコンボボックスに表示する値の表示 -->
            </select>

            <label for="from_ym">何年何月から？:</label>
            <input type="month" id="from_ym" name="from_ym" required minlength="4" maxlength="8" size="10" />

            <label for="to_ym">何年何月まで？:</label>
            <input type="month" id="to_ym" name="to_ym" required minlength="4" maxlength="8" size="10" />
            <button onclick="btn_click()" type="button">決定</button>

        </form>
        <button onclick="btn_click();" class="mybtn">ボタン</button>
        <label id="msg">-</label>
        <div class="chart-board">
            <canvas id="myChart"></canvas>
        </div>
    </main>
    <aside>
        <ol>
            <li>地点名</li>
            <li>国際地点番号</li>
        </ol>
        <div>
            <table id="data-table" border="1">
                <theaed>
                    <tr>
                        <th>地点名</th>
                        <th>国際地点番号</th>
                    </tr>

                </theaed>
                <tbody>
                    <!-- データ格納部分 -->
                </tbody>
            </table>
        </div>

        <div>

            E-mail:
            <input type="email" name="freewrite" placeholder="入力願います">
            名前：
            <input type="text" name="freewrite" placeholder="入力">
            <textarea name="freewrite" placeholder=" = 入力"></textarea>
            <button onclick="btn_click()" type="button">送信</button>

        </div>
    </aside>

    <script>
        fetch_data = null;
        let selectedText = null;
        document.readyState === "complete" ? init() : window.onload = init;
        //html読み込まれた後にinit関数読み込み指定
        // Page読み込みパターンに対応　書き方は三項演算子
        // init() 即座に実行 init 関数を登録
        function init() {
            // get index nbrs関数からデータを取得し、set select index nbrs関数の引数に格納
            get_index_nbrs().then((data) => {
                set_select_index_nbrs(data);
            });

        }
        // 国際地点番号の一覧表表示
        function set_select_index_nbrs(numbers) {
            // コンボボックスに1行要素を取得し、コンボボックスの一覧に追加
            const select_element = document.getElementById("index_select");
            // numbersの結果がitemに格納され、valueとtextに分けられて、option elementへ格納
            // 要素が変数に格納されている　<select></select> が格納されている
            // 要素が変数に格納されている　<option></option> が格納されている
            numbers.result.forEach(item => {
                const option_element = document.createElement("option");
                option_element.value = item.index_nbr;
                option_element.text = item.station_name;
                select_element.appendChild(option_element);

            });
        }
        // 国際地点番号の一覧表取得
        function get_index_nbrs() {
            return fetch('{{url_for("index_nbr")}}')
                // コンボボックスの一覧表取得
                .then((response) => {
                    //サーバーから受信出来たら
                    return response.json();
                }) //※promise 非同期処理　終わるの待たずに次進む
                // javascripts 無名関数+アロー関数
                .then((data) => {
                    //データを取り出したら返す
                    // thenは非同期処理の完了後に続く処理を指定するために使用
                    console.log(data);
                    return data;
                })
                .catch((error) => {
                    //エラーになった
                    console.error(error);
                });
        }
        let click_count = 0;



        // submitボタンクリック時に値を flaskでapp.pyの/submitへ
        function btn_click() {
            const selectElement = document.getElementById("index_select")
            const select_element = document.getElementById("index_select").value;


            const from_ym = document.getElementById("from_ym").value;
            const to_ym = document.getElementById("to_ym").value;
            // click_count += 1;
            // console.log(`${click_count}回クリックされた`);
            // document.getElementById("msg").innerText = click_count;



            params = {
                index_nbr: select_element,
                from_ym: from_ym,
                to_ym: to_ym
            }
            const query = new URLSearchParams(params);
            // new は「新しいオブジェクトのインスタンスを生成する」ための演算子
            let url = `{{url_for("submit")}}?${query}`;
            // Flaskのurl_for()関数を使用、引数に"submit"というルートのURLを取得
            // queryはクエリ文字を返しapp側でgetリクエストのvalueとして取得
            fetch(url).then((response) => {

                console.log(response);
                response.json().then((fetch_data) => {
                    console.log(fetch_data)
                    fetch(url).then((response) => {
                        console.log(response);
                        response.json().then((data) => {
                            console.log(data)
                            const ctx = document.getElementById('myChart');
                            const x_values = fetch_data.map(item => item.ymd);
                            const y_values = fetch_data.map(item => item.Average_Temperature)
                            console.log(y_values)
                            // ↓イベントハンドラー属性 change が引数に
                            selectElement.addEventListener("change", function () {
                                const selectedOption = selectElement.options[selectElement.selectedIndex];
                                selectedText = selectedOption.text;
                                console.log("選択したのは：", selectedText);
                                if (dlg_goods_detail_chart1) { dlg_goods_detail_chart1.destroy(); }


                            })



                            var dlg_goods_detail_chart1 = new Chart(ctx, {
                                type: "line",
                                data: {
                                    labels: x_values,
                                    datasets: [{
                                        label: selectedText,
                                        fill: false,
                                        borderColor: 'rgba(0, 0, 255, 0.5)',
                                        lineTension: 0.1,   //曲線にする度合
                                        data: y_values,
                                    }],
                                },
                                options: {
                                    spanGaps: true,   //点をつなげる場合
                                    scales: {
                                        x: {
                                            type: 'time',
                                            time: {
                                                unit: 'week',    //週に線
                                                displayFormats: {
                                                    week: 'yyyy-MM'
                                                }
                                            },
                                            max: x_values
                                        }
                                    }
                                }

                            });
                        })

                    })





                    // data = jsonify(submit)
                    //promiseが終了状態なったら
                    // .thenがpromiseからの結果の取り出してタイミングを決めている

                    //　pending➡pro 
                    //　promiseの中から取り出してきた値を次の引数に格納する 
                    // (引数:a)=>{console.log(a)}
                    // response サーバーから帰ってきた値 httpリクエストの値
                })
                return fetch_data

            }
            )
        }
        //     let amdno = 12345;
        //     let year = 2024;
        //     let month = 7;
        //     let params = {
        //         amdno: amdno,
        //         year: year,
        //         month: month
        //     };
        //     const query = new URLSearchParams(params);
        //     //二度と変わらないもの 変数が変わらないもの const使うとちょっと処理が速くなる
        //     let url_base = "{{url_for('amedas_data')}}"
        //     // #関数名を引数にいれる

        //     //pythonfstringと同じような奴
        //     let url = `${url_base}?${query}`;

        //     //リクエスト発行 letはその中でしか使えない変数
        //     let response;
        //     let c = new XMLHttpRequest;


        //     c.onload = function () {
        //         // === 三つだとより厳密になる
        //         if (c.readyState === 4) {
        //             response = c.response;
        //         }
        //         // }else{}
        //     }
        //     c.onerror = function () {
        //         alert("http request error!!!")
        //     }
        //     c.open("GET", url, false);
        //     c.send();

        //     returndata = JSON.parse(response);
        //     // json.parse 文字列をjson形式に変換してくれる

        //     console.log(returndata);

        // }
        // const 中が変更されない
        // const ctx = document.getElementById('myChart');
        // const labels = fetch_data.map(item => item.ymd);
        // const y_values = fetch_data.map(item => item.Average_Temperature)
        // console.log(y_values)


        // ↓辞書型になってる


        // new Chart(ctx, {
        //         type: 'line',
        //         data: {
        //             labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        //             datasets: [
        //                 {
        //                     label: '# of Votes',
        //                     data: [12, 19, 3, 5, 2, 3],
        //                     borderWidth: 1
        //                 },
        //                 {
        //                     label: '# of Votes2',
        //                     data: [10, 12, 2, 4, 5, 6],
        //                     borderWidth: 1
        //                 }

        //             ]
        //         },
        //         options: {
        //             responsive: true,
        //             scales: {
        //                 y: {
        //                     beginAtZero: true
        //                 }
        //             }
        //         }
        //     });





    </script>
</body>

</html>